# Test Report

The system directs you to the Test Execution List (Auto) screen so that the Project and Test Plan list is selected on the screen and filtered accordingly.

![](<../../.gitbook/assets/TestReports (2).png>)
