# Test Report

Test execution results and details of the test plan can be accessed through the relevant plan.\
The test report of the plan can be accessed by following the steps below;

1. Click the _**Test Report**_ button.

{% hint style="info" %}
Clicking this button will redirect the user to the _**Test Execution (Auto)**_ report screen.
{% endhint %}

<figure><img src="../../.gitbook/assets/Screenshot 2025-03-04 at 17.17.08.png" alt=""><figcaption></figcaption></figure>

2. The following operations can be done on the screen that opens;

* Filtering can be done according to the following criteria; Date (Begin Date, End Date), Criteria (Status, Operator, Operand)
* Test results can be exported in excel format with the _**Export Table**_ button.
* Test result can be deleted with the _**Delete**_ button.
* Test run details of the plan can be accessed by clicking the _**Show**_ button.

<figure><img src="../../.gitbook/assets/Screenshot 2025-03-04 at 17.16.27.png" alt=""><figcaption></figcaption></figure>
