# Delete Test Report

The record to be deleted is selected from the listing screen and the Delete button is clicked.



![](<../.gitbook/assets/Screen Shot 2021-12-09 at 00.50.04.png>)

In the pop-up that appears, the Yes button is pressed in response to the question "Are you sure you want to delete this record?". If the No button is pressed, the system cancels the deletion process.&#x20;

&#x20;
